/*
		This is heavily based on the stylesheet
		from the impress.js demo
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

sup {
	font-size: 50%;
	vertical-align: super;
	
}

.code {
	font-family: monospace;
	font-size: 76%;
	line-height: 140%;
	background: rgba(238,238,238,0.92);
	color: #000;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.technologies {
	width: 760px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 0px;
	opacity: 1;
}

#fingerprint {
	display: block;
	float: right;
	width: 280px;
}

body {
	font-family: 'PT Sans', sans-serif;
	min-height: 740px;
	height: 100%;

	background: rgb(215, 215, 215);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(150, 150, 200)));
	background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(150, 150, 200));
	background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(150, 150, 200));
	background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(150, 150, 200));
	background:      -o-radial-gradient(rgb(240, 240, 240), rgb(150, 150, 200));
	background:         radial-gradient(rgb(240, 240, 240), rgb(150, 150, 200));
}

#background {
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: relative;
}

#logo-top {
	z-index: 100000;
	position: absolute;
	top: 0px;
	width: 260px;
	margin-top: 0px;
	margin-right: 0px;
	right: 0px;
}

#logo-bottom {
	z-index: 100000;
	position: absolute;
	bottom: 0px;
	width: 260px;
	margin-bottom: 0px;
	margin-left: 0px;
	left: 0px;
}

h1 {
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: 48pt;
	z-index: 100000;

	padding: 0px;	
	border-radius: 10px;

	color: rgb(50, 50, 50);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .5);

	font-family: 'Open Sans', Arial, sans-serif;
}

h2 {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 40pt;
	line-height: 76px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.indent {
	padding-left: 40px;
}

ul {
	list-style: square;
	padding-left: 20px;
	list-style-position: inside;
	line-height: 48px;
}

.slide p {
	line-height: 40px;
	margin-top: 24px;
	margin-bottom: 24px;
	font-size: 28pt;
}

.left-line {
	border-left: 4px solid rgba(80, 80, 255, 1.0);
	padding-left: 16px;
}

b, strong {
	font-weight: bold;
	color: rgba(80, 80, 255, 1.0);
}
i, em {
	font-style: italic;
	color: rgba(0, 102, 203, 1.0);
}

a {
	color: inherit;
	text-decoration: none;
	color: rgba(0, 102, 203, 1.0);
	padding: 0 0.1em;
	background: rgba(255,255,255,0.0);
	border-radius: 0.2em;

	-webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-ms-transition:     0.5s;
	-o-transition:      0.5s;
	transition:         0.5s;
}

a:hover,
a:focus {
	background: rgba(255,255,255,1);
	text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.fallback-message {
	font-family: sans-serif;
	line-height: 1.3;

	width: 780px;
	padding: 10px 10px 0;
	margin: 20px auto;

	border: 1px solid #E4C652;
	border-radius: 10px;
	background: #EEDC94;
}

.fallback-message p {
	margin-bottom: 10px;
}

.impress-supported .fallback-message {
	display: none;
}

.step {
	position: relative;
	width: 900px;
	padding: 40px;
	margin: 20px auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;

	font-family: 'PT Serif', georgia, serif;
	font-size: 48px;
	line-height: 1.5;
}

.impress-enabled .step {
	margin: 0;
	opacity: 0.3;

	-webkit-transition: opacity 1s;
	-moz-transition:    opacity 1s;
	-ms-transition:     opacity 1s;
	-o-transition:      opacity 1s;
	transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
	display: block;

	width: 980px;
	height: 756px;
	padding: 60px 60px;

	background-color: rgba(255, 255, 255, .3);
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	box-shadow: 0 2px 16px rgba(0, 0, 0, .5);

	color: rgb(50, 50, 50);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: -1px;

	background: rgba(215, 215, 215, 0.6);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgba(240, 240, 240, 0.6)), to(rgba(190, 190, 190, 0.6)));
	background: -webkit-radial-gradient(rgba(240, 240, 240, 0.6), rgba(190, 190, 190, 0.6));
	background:    -moz-radial-gradient(rgba(240, 240, 240, 0.6), rgba(190, 190, 190, 0.6));
	background:     -ms-radial-gradient(rgba(240, 240, 240, 0.6), rgba(190, 190, 190, 0.6));
	background:      -o-radial-gradient(rgba(240, 240, 240, 0.6), rgba(190, 190, 190, 0.6));
	background:         radial-gradient(rgba(240, 240, 240, 0.6), rgba(150, 200, 150, 0.6));
}

.slide q {
	display: block;
	font-size: 50px;
	line-height: 72px;
}

.slide q strong {
	white-space: nowrap;
}

#overview {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 24pt;
	position: relative;
	top: 0px;
	left: 0px;
	width: 940px;
	padding: 0px;
	margin: 0px;
}

.impress-on-overview .step {
	opacity: 1;
	cursor: pointer;
}

.hint {
	display: none;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 200px;

	background: rgba(0,0,0,0.5);
	color: #EEE;
	text-align: center;

	font-size: 50px;
	padding: 20px;

	z-index: 100;

	opacity: 0;

	-webkit-transform: translateY(400px);
	-moz-transform:    translateY(400px);
	-ms-transform:     translateY(400px);
	-o-transform:      translateY(400px);
	transform:         translateY(400px);

	-webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
	-moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
	-ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
	-o-transition:      opacity 1s,      -o-transform 0.5s 1s;
	transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint {
	display: block
}

.impress-on-title .hint {
	opacity: 1;

	-webkit-transform: translateY(0px);
	-moz-transform:    translateY(0px);
	-ms-transform:     translateY(0px);
	-o-transform:      translateY(0px);
	transform:         translateY(0px);

	-webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
	-moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
	-ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
	-o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
	transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled  {
	pointer-events: none;
}

.impress-enabled #impress {
	pointer-events: auto;
}

